

.seccion-header{
    background-image: url("../desierto.jpg");
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover;
}
.contenido-header{
    margin-top: 5%;
    height: 300px;

}
.seccion-header2{
    background-image: url(../cecina.png);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover;
}
.contenido-header2{
    margin-top: 20%;
    height: 200px;
} 
.seccion-header3{
    background-color: whitesmoke;
    width: 100%;
    height: 500px;

}
.contenido-header3{
    margin-top: 10%;
    height: 100px;
}
.seccion-header4{
    background-color:cornflowerblue;
    width: 100%;
    height: 600px; 

}
.contenido-header4{
    margin-top: 10%;
}
.navbar{
    font-size: 1.5rem !important;
}
.imagen-side{
    width:10px;
}
.imagen-side2{
    width: 10px;
}
.imagen-side3{
    width: 60px;
}
footer{
    width: 100%;
    height: 250px;
}
i{
    font-size: 60px;
}
i.fa-whatsapp{
    color: green;
}
.titulo-footer{
    margin-bottom: 40px;
    padding-top: 25px;
}