

.seccion-header{
   
    width: 100%;
    height: 720px;
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover;
}
.contenido-header{
    margin-top: 5%;
    height: 200px;

}
.seccion-header2{
   
    width: 100%;
    height: 720px;
}
.contenido-header2{
    margin-top: 20%;
    height: 200px;
} 
.seccion-header3{
    background-color: whitesmoke;
    width: 900%;
    height: 900px;

}
.contenido-header3{
    margin-top: 10%;
    height: 400px;
}
.seccion-header4{
    background-color:cornflowerblue;
    width: 100%;
    height: 800px; 

}
.contenido-header4{
    margin-top: 10%;
}
.navbar{
    font-size: 1.5rem !important;
}
.imagen-side{
    width:10px;
}
.imagen-side2{
    width: 10px;
}
.imagen-side3{
    width: 60px;
}
footer{
    width: 100%;
    height: 100px;
}
i{
    font-size: 60px;
}
i.fa-whatsapp{
    color: green;
}
.titulo-footer{
    margin-bottom: 40px;
    padding-top: 25px;
}
.img-carne{
    width: 300px !important;
    height: auto;
}

#marca{
    font-size:20px;
}

#slogan{
    font-size: 40px;
}

#producto{
    padding-top: 80px;
}

.logo-cecina{
    width: 1500px;
    height: auto;
}